@media(min-width: 600px){
    .MainTitle{
        text-align: center;
        color: black;
        opacity: .8;
        margin-top: 40px;
        font-size: 300%;
        color: black;
    text-shadow:
       -1px -1px 10px yellow,  
        1px -1px 0 yellow,
        -1px 1px 0 yellow,
         1px 1px 0 yellow
    }
}
@media(max-width: 599px){
    .MainTitle{
        text-align: center;
        color: black;
        opacity: .8;
        margin-top: 40px;
        text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow;
    }
}
