
.All{
	height: 100%;
    min-height: 1080px;
    display: flex;
    justify-content: space-bewteen;
    flex-flow: column wrap;
    text-align: center;
	
}
.Characters{
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
}

#SearchBar, #SortButton, #SelectSort{
    color: white;
    background-color: #333;
    border: #333 solid 1px;
    border-radius: 10px;
    border: none;
    font-size: 200%;
    width: 30%;
    margin-bottom: 30px;
    text-align: center;
    
}

